{% extends 'base.html.twig' %}

{% block title %}Noor Design | À propos de moi
{% endblock %}

{# AFFICHAGE DE LA PAGE À PROPOS DE MOI #}

{% block content %}

	<section class="container mx-auto px-6 py-12 bg-white">


		<p class="text-gray-600 leading-relaxed mb-4">
			Miroir de mon esprit bohème chic, je confectionne mes bijoux en
								suivant mon inspiration, sans me préoccuper des tendances du
								moment.
			<br/>Le mélange des matières est le maître mot de mes
								créations : j'assemble pierres semi-précieuses, nacre, et
								coquillages avec minutie, pour vous proposer des parures
								ensoleillées 🌞.
			<br/>
			Je sélectionne avec le plus grand soin chaque matériau, en France,
								pour façonner un dialogue singulier avec la peau.
		</p>

		<div
			class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
			<!-- Positive Vibe Card -->
			<div class="bg-gray-50 rounded-lg shadow-md p-6 flex flex-col items-center text-center hover:shadow-lg transition">
				<div class="flex flex-row w-full mb-16 h-65 justify-center">
					<div class="flex items-center justify-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 56 56" class="h-16 w-16 text-gold">
							<path d="M 26.6875 12.6602 C 26.9687 12.6602 27.1094 12.4961 27.1797 12.2383 C 27.9062 8.3242 27.8594 8.2305 31.9375 7.4570 C 32.2187 7.4102 32.3828 7.2461 32.3828 6.9648 C 32.3828 6.6836 32.2187 6.5195 31.9375 6.4726 C 27.8828 5.6524 28.0000 5.5586 27.1797 1.6914 C 27.1094 1.4336 26.9687 1.2695 26.6875 1.2695 C 26.4062 1.2695 26.2656 1.4336 26.1953 1.6914 C 25.3750 5.5586 25.5156 5.6524 21.4375 6.4726 C 21.1797 6.5195 20.9922 6.6836 20.9922 6.9648 C 20.9922 7.2461 21.1797 7.4102 21.4375 7.4570 C 25.5156 8.2774 25.4687 8.3242 26.1953 12.2383 C 26.2656 12.4961 26.4062 12.6602 26.6875 12.6602 Z M 15.3438 28.7852 C 15.7891 28.7852 16.0938 28.5039 16.1406 28.0821 C 16.9844 21.8242 17.1953 21.8242 23.6641 20.5821 C 24.0860 20.5117 24.3906 20.2305 24.3906 19.7852 C 24.3906 19.3633 24.0860 19.0586 23.6641 18.9883 C 17.1953 18.0977 16.9609 17.8867 16.1406 11.5117 C 16.0938 11.0899 15.7891 10.7852 15.3438 10.7852 C 14.9219 10.7852 14.6172 11.0899 14.5703 11.5352 C 13.7969 17.8164 13.4687 17.7930 7.0469 18.9883 C 6.6250 19.0821 6.3203 19.3633 6.3203 19.7852 C 6.3203 20.2539 6.6250 20.5117 7.1406 20.5821 C 13.5156 21.6133 13.7969 21.7774 14.5703 28.0352 C 14.6172 28.5039 14.9219 28.7852 15.3438 28.7852 Z M 31.2344 54.7305 C 31.8438 54.7305 32.2891 54.2852 32.4062 53.6524 C 34.0703 40.8086 35.8750 38.8633 48.5781 37.4570 C 49.2344 37.3867 49.6797 36.8945 49.6797 36.2852 C 49.6797 35.6758 49.2344 35.2070 48.5781 35.1133 C 35.8750 33.7070 34.0703 31.7617 32.4062 18.9180 C 32.2891 18.2852 31.8438 17.8633 31.2344 17.8633 C 30.6250 17.8633 30.1797 18.2852 30.0860 18.9180 C 28.4219 31.7617 26.5938 33.7070 13.9140 35.1133 C 13.2344 35.2070 12.7891 35.6758 12.7891 36.2852 C 12.7891 36.8945 13.2344 37.3867 13.9140 37.4570 C 26.5703 39.1211 28.3281 40.8321 30.0860 53.6524 C 30.1797 54.2852 30.6250 54.7305 31.2344 54.7305 Z" fill="currentColor"/>
						</svg>
					</div>

				</div>

				<h3 class="text-xl font-semibold text-gray-800 mb-5">
					POSITIVE VIBES ONLY*
				</h3>
				<p class="text-gray-600 text-justify">
					Bien plus que des apparats esthétiques, mes bijoux sont de
					                                véritables amulettes de protections.
					<br/>
					Ils sont infusés de soleil, de bonne humeur et surtout de magie. La
					                                pratique de rituels de fumigation de bâtons de Palo Santo me permet
					                                d'éloigner toute énergie négative.
				</p>
				<br/>
				<small class="italic text-gray-400 w-full text-left">*Bonnes vibrations</small>
			</div>

			<!-- Éthique Card -->
			<div class="bg-gray-50 rounded-lg shadow-md p-6 flex flex-col items-center text-center hover:shadow-lg transition">
				<div class="flex flex-row w-full mb-16 h-65 justify-center">
					<div class="flex items-center justify-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 338.199 338.199" class="h-16 w-16 text-gold">
							<path d="M127.088,141.809l-36.345-50.03c-10.148,8.759-18.831,19.169-25.586,30.845H60c-33.138,0-60,26.863-60,60h49.1 c0,9.446,1.098,18.634,3.161,27.451l58.864-19.127L127.088,141.809z" fill="currentColor"/>
							<path d="M194.916,130.062v-0.001l36.354-50.055c-6.963-4.227-14.374-7.788-22.17-10.544V42.624c0-22.091-17.908-40-40-40 c-22.092,0-40,17.909-40,40v26.838c-7.797,2.756-15.209,6.318-22.172,10.545l36.354,50.054H194.916z" fill="currentColor"/>
							<path d="M58.44,229.109c4.555,10.831,10.649,20.854,18.017,29.792c-14.349,25.382-8.402,58.125,15.238,76.673l32.629-41.589 c10.891,4.383,22.571,7.21,34.769,8.219l0.004-61.827l-41.823-30.392L58.44,229.109z" fill="currentColor"/>
							<path d="M278.199,122.624h-5.157c-6.755-11.676-15.439-22.086-25.587-30.846l-36.344,50.029l15.963,49.14l58.864,19.126 c2.063-8.816,3.161-18.004,3.161-27.449h49.1C338.199,149.487,311.337,122.624,278.199,122.624z" fill="currentColor"/>
							<path d="M220.926,209.984l-41.822,30.391l0.005,61.828c12.196-1.009,23.877-3.836,34.767-8.219l32.629,41.589 c23.641-18.548,29.588-51.29,15.238-76.673c7.367-8.937,13.462-18.961,18.017-29.791L220.926,209.984z" fill="currentColor"/>
							<polygon points="192.764,150.06 145.436,150.06 130.807,195.096 169.1,222.922 207.393,195.096 " fill="currentColor"/>
						</svg>
					</div>


				</div>

				<h3 class="text-xl font-semibold text-gray-800 mb-5">
					BIJOUX ÉTHIQUES
				</h3>
				<div class="text-gray-600 text-justify">
					Je m'engage à mon niveau pour la planète, en proposant des bijoux
					                                respectueux de l'environnement :
					<br/>
					<br/>
					<ul>
						<li class="flex items-start mb-2">
							<span class="w-2 h-2 bg-gold rounded-full mr-2 flex-shrink-0 mt-1.5"></span>
							<span>Emballages minimalistes en kraft recyclables</span>
						</li>

						<li class="flex items-start mb-2">
							<span class="w-2 h-2 bg-gold rounded-full mr-2 flex-shrink-0 mt-1.5"></span>
							<span>Personnalisation des emballages au tampon, en utilisant une
								                                                encre aux pigments certifiés végétaliens et non testés sur les
								                                                animaux</span>
						</li>

						<li class="flex items-start mb-2">
							<span class="w-2 h-2 bg-gold rounded-full mr-2 flex-shrink-0 mt-1.5"></span>
							<span>Sourcing local : en France et idéalement à Nantes, pour
								                                                protéger l'économie locale et minimiser l'empreinte
								                                                carbone</span>
						</li>
					</ul>
				</div>
			</div>
		</div>


	</section>
{% endblock %}
