{% extends 'base.html.twig' %}

{% block title %}Noor Design | Mentions Légales
{% endblock %}

{# AFFICHAGE DE LA PAGE MENTIONS LEGALES #}

{% block content %}

	<!-- Page Header -->
	<div class="color-bg-header py-16">
		<div class="container mx-auto px-6 text-center">
			<h1 class="text-4xl font-semibold text-gray-800 mb-2">Mentions Légales</h1>

		</div>
	</div>

	<div
		class="container mx-auto px-6 py-12">

		<!-- Mentions Légales -->
		<section id="mentions-legales" class="mb-16">
			<div class="bg-white rounded-lg shadow-md p-8">
				<h2 class="text-3xl font-semibold text-gray-800 mb-6 font-serif">Mentions Légales</h2>

				<div class="space-y-6">
					<div>
						<h3 class="text-xl font-semibold text-gray-700 mb-3">Éditeur du site</h3>
						<p class="text-gray-600">
							<strong>Noor Design</strong><br>
							N° SIRET : 94898159200017<br>
							Adresse : 8 Rue Auguste Lepère, 44100 Nantes, France<br>
							Email : contact@noordesign.stephen-ins.com<br>
							Téléphone : 07 57 53 05 19
						</p>
					</div>

					<div>
						<h3 class="text-xl font-semibold text-gray-700 mb-3">Directeur de la publication</h3>
						<p class="text-gray-600">
							Anne-Laure BERTINEAU, Fondatrice et gérante de Noor Design
						</p>
					</div>

					<div>
						<h3 class="text-xl font-semibold text-gray-700 mb-3">Hébergeur</h3>
						<p class="text-gray-600">
							Le site Noor Design est hébergé par :<br>
							Hostinger<br>
							www.noordesign.stephen-ins.com<br>
						</p>
					</div>

					<div>
						<h3 class="text-xl font-semibold text-gray-700 mb-3">Propriété intellectuelle</h3>
						<p class="text-gray-600">
							L'ensemble du contenu de ce site (structure, textes, images, logos, etc.) est la propriété exclusive de Noor Design
																																																																																											ou fait l'objet d'une autorisation d'utilisation. Toute reproduction, représentation, modification, publication ou adaptation
																																																																																											de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable.
						</p>
					</div>
				</div>
			</div>
		</section>


		<!-- Mise à jour -->
		<div class="text-center text-gray-500 text-sm mt-10">
			<p>Date d'entrée en vigueur : 1er juin 2025</p><br>
			<p>Ces mentions légales ont été mises à jour pour la dernière fois le 1er juin 2025.</p><br>
		</div>
		<div class="text-center text-gray-500 text-sm mt-10">
			<p>Note: Les informations peuvent être sujettes à des modifications.</p><br>
		</div>
	</div>

{% endblock %}
